.about {
  padding: 10% 5% 15% 5%;
}

.about__content {
  @include flex(row, center, center);
  @include tablet {
    @include flex(column, center, center);
  }
  .image-wrapper {
    opacity: 0;
    transform: translateX(-50%);
    animation: about-image-enter 1500ms ease 250ms 1 forwards;
  }
  .content-wrapper {
    opacity: 0;
    transform: translateX(50%);
    animation: about-content-enter 1500ms ease 0ms 1 forwards;
  }
  > div {
    display: flex;
    flex-direction: column;
    .section__headline {
      display: inline;
      align-self: flex-start;
    }
  }
  .about__intro {
    font-size: 1.2rem;
    font-family: "Fira Sans", arial, sans-serif;
    margin-top: 14px;
    margin-bottom: 14px;
    color: var(--subheader);
    @include mobile {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.nav__icons {
  @include flex(row, center, center);
  list-style: none;
  transform: translateY(2px);
  .nav__icon {
    width: 24px;
    opacity: 0.4;
    margin: 0 10px;
    filter: var(--icon);
    &:hover {
      opacity: 0.8;
    }
  }
}

@keyframes about-image-enter {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes about-content-enter {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
