.about {
  padding: 10% 5%;
}

.about__content {
  @include flex(row, center, center);
  @include tablet {
    @include flex(column, center, center);
  }
  position: relative;
  > div {
    display: flex;
    flex-direction: column;
    .section__headline {
      display: inline;
      align-self: flex-start;
    }
  }
  .img__bio {
    max-width: 260px;
    min-width: 260px;
    align-self: center;
    border-radius: 80% 50%;
    margin: 1rem;
  }
  .mobile-shape {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 80% 50%;
  }
  .ms-left {
    background: $blue__light;
    left: 0;
    transform: translateY(20px);
    z-index: -1;
  }
  .ms-right {
    background: $blue__light-x;
    right: 0;
    transform: translateY(80px);
    z-index: -1;
  }
}

.nav__icons {
  @include flex(row, center, center);
  list-style: none;
  @include nav-collapse {
    height: 100%;
    @include flex(column, center, center);
  }
  .nav__icon {
    // @include icon_hover(24px, invert(0.5), invert(1));
    width: 24px;
    opacity: 0.2;
    margin: 0 10px;
    transform: translateY(3px);
    @include nav-collapse {
      // @include icon_hover(30px, invert(0.5), invert(1));

      margin: 5px 0;
    }
  }
}