@import '_variables';

.section__bandcamp {
  width: 800px;
  height: 200px;
  margin: 0 auto 0 auto;
  padding-top: 4rem;
  z-index: -1;
  .section__header {
    font-size: 2rem;
    color: $blue__light;
  }
}

.album-carousel {
  position: relative;
  overflow: hidden;
  margin: auto;
  align-items: center; 
  justify-items: center;
  .album-slide {
    display: flex;
    
    .album-cover {
      transform: translateY(200px);
      width: 200px;
      transition: filter 1s ease-out;
      filter: grayscale(50%);
      transition: filter 0.25s;
      cursor: pointer;
      &:hover {
        filter: grayscale(10%);
        transition: all 0.25s;
      }
    }
  }
}

.album-arrow {
  font-size: 3rem;
  color: $blue__light;
  z-index: 0;
  cursor: pointer;
  transition: all 0.25s;
}

// #left-arrow {
//   transform: translateX(10px);
//   justify-self: flex-end;
//   &:hover {
//     color: $blue__med;
//     transform: translateX(-10px);
//     transition: all 0.25s;
//   }
// }
// #right-arrow {
//   justify-self: flex-start;
//   &:hover {
//     color: $blue__med;
//     transform: translateX(10px);
//     transition: all 0.25s;
//   }
// }

// .slide-up {

// }


// sequential animation
@for $i from 1 through 4 {
  .album-#{$i} {
    animation-name: slide-up;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.05, 0.1, 0.25, 1);
    animation-delay: #{$i / 8}s;
    animation-iteration-count: 1;
  }
}

@keyframes slide-up {
  0% { transform: translateY(200px) };
  90% { transform: translateY(0px) };
  100% { transform: translateY(0px) };
}