.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(61,61,90,0.8);
  box-shadow: inset 0px 0px 100px 32px rgba(0,0,0,0.25);
  .modal-content {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    > iframe {
      display: block;
      box-shadow: 0px 0px 50px 24px rgba(0,0,0,0.25);
      transform: translateY(-200%);
    }
  }
}

#modal-btn {
  position: fixed;
  bottom: 0;
  right: 8%;
  padding: 16px 20px 32px 20px;
  background: $blue__med;
  letter-spacing: 1px;
  width: 80px;
  font-size: 1.5rem;
  border-radius: 32px 32px 0px 0px;
  text-align: center;
  font-weight: 800;
  color: $white;
  cursor: pointer;
  transform: translateY(16px);
  transition: transform 0.1s;
  &:hover {
    transform: translateY(0px);
    transition: transform 0.1s;
  }
}

.modal-open {
  animation-name: modal-open;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.modal-close {
  animation-name: modal-close;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes modal-open {
  0% { transform: translateY(-200%); };
  100% { transform: translateY(0%); };
}


@keyframes modal-close {
  0% { transform: translateY(0%); };
  100% { transform: translateY(-200%); };
}
