@import '_mixins';
@import '_media-queries';

nav.navbar {
  @include flex(row, space-around, center);
  z-index: 1;
  background: $blue__dark;
  color: $white;
  padding: 1rem;
  box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.1);
  margin-top: 10px;
  position: relative;
  @include nav-collapse {
    margin-top: 0px;
    @include flex(row, space-between, center);
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .nav__header {
    font-family: 'Fira Sans', arial, sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1px;
    cursor: pointer;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  .foot__copyright {
    font-size: 0.9em;
    letter-spacing: -0.5px;
    font-weight: 700;
  }
  .nav__ul {
    @include flex(row, center, center);
    list-style: none;
    @include nav-collapse {
      @include flex(column, space-evenly, flex-end);
      position: fixed;
      right: 0;
      top: 0;
      background: $blue__dark;
      height: 100vh;
      padding: 3rem;
      transform: translateX(200%);
      transition: all 0.25s;
      z-index: -1;
    }
    .nav__link {
      padding: 8px 12px;
      cursor: pointer;
      transition: all 0.25s;
      @include nav-collapse {
        font-size: 1.25rem;
      }
      &:hover {
        transform: scale(1.1);
        transition: transform 0.25s;
        background: $white;
        color: $blue__dark;
        @include mobile {
          transform: scale(1);
        }
      }
    }
    .push-left {
      transform: translateX(-6px);
      transition: transform 0.25s ease-in-out;
      @include nav-collapse {
        transform: translateX(0px);
      }
    }
    .push-right {
      transform: translateX(6px);
      transition: transform 0.25s ease-in-out;
      @include nav-collapse {
        transform: translateX(0px);
      }
    }
    .nav__icon {
      @include icon_hover(24px, invert(0.5), invert(1));
      align-self: center;
      justify-self: center;
    }
  }
  #burger {
    display: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    @include nav-collapse {
      display: inline-block;
    }
    .line {
      width: 100%;
      height: 2px;
      background: white;
      margin-top: 7px;
      margin-bottom: 7px;
      border-radius: 5px;
    }
  }
  .toggle-nav {
    transform: translateX(0%);
    transition: all 0.25s;
  }
}

footer.navbar {
  @include flex(row, space-around, center);
  background: $blue__dark;
  color: $white;
  padding: 1rem;
  box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  position: relative;
  @include mobile {
    @include flex(column, center, center);
  }
  .nav__header {
    font-family: 'Fira Sans', arial, sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .nav__ul {
    @include flex(row, center, center);
    list-style-type: none;
    @include mobile {
      padding-top: 20px;
      padding-bottom: 10px;
    }
    li {
      padding: 0;
    }
  }
  .nav__icon {
    @include icon_hover(32px, invert(0.5), invert(1));
    align-self: center;
    justify-self: center;
  }
}