@import '_mixins';
@import '_media-queries';

nav.navbar {
  @include flex(row, space-between, center);
  z-index: 1;
  background: #fff;
  color: $blue__med;
  padding: 1rem;
  width: 950px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  @include nav-collapse {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0px;
    @include flex(row, space-between, center);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $blue__med;
    color: $white;
  }
  @include mobile {
    padding: 0.78rem 2rem;
  }
  .nav__header {
    font-family: 'Fira Sans', arial, sans-serif;
    font-size: 2.4rem;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 100;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  .mobile-nav__container {
    z-index: -1;
    // background: $blue__med;
    @include flex(row, space-between, center);
    @include nav-collapse {
      background: linear-gradient(0deg, $blue__light-x, white);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      margin-top: 50px;
      position: fixed;
      right: 0;
      top: 0;
      transform: translateY(-200%);
      width: 100%;
      transition: all 0.1s;
      z-index: -99;
    }
  }
  .nav__ul {
    @include flex(row, center, center);
    list-style: none;
    @include nav-collapse {
      @include flex(column, space-evenly, flex-start);
      width: 100%;
      padding: 2rem 0;
      background: $blue__med;
    }
    .nav__link {
      padding: 8px 12px;
      cursor: pointer;
      transition: all 0.25s;
      font-size: 1.4rem;
      color: $gray__dark;
      font-family: 'Fira Sans', arial, sans-serif;
      border-radius: 6px;
      @include nav-collapse {
        transform: translateX(-200%);
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin: 5px;
        margin-left: 2rem;
        text-align: center;
        color: $white;
      }
      &:hover {
        transform: scale(1.1);
        transition: transform 0.25s;
        background: $white;
        color: $blue__dark;
        @include mobile {
          transform: scale(1);
        }
      }
    }
    @for $i from 1 through 6 {
      .nav__link.appear-#{$i} {
        animation: mobile-navigation-enter 800ms ease #{$i / 12}s 1 forwards;
      }
    }
  }
  #burger {
    display: none;
    width: 32px;
    height: 25px;
    cursor: pointer;
    @include nav-collapse {
      display: inline-block;
    }
    .line {
      width: 100%;
      height: 2px;
      background: $blue__med;
      margin-top: 5px;
      border-radius: 5px;
    }
    @include nav-collapse {
      .line {
        background: $white;
      }
    }
  }
  .toggle-nav {
    transform: translateY(0%);
    transition: all 0.25s;
  }
}

footer.navbar {
  @include flex(column, space-around, center);
  background: #fff;
  color: $blue__med;
  padding: 1rem;
  // box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.1);
  margin-bottom: 24px;
  position: relative;
  @include nav-collapse {
    margin-bottom: 0;
  }
  @include mobile {
    @include flex(column, center, center);
  }
  .nav__header {
    font-family: 'Fira Sans', arial, sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .nav__ul {
    @include flex(row, center, center);
    list-style-type: none;
    transform: translateY(3px);
    @include mobile {
      @include flex(row, space-around, center);
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  .nav__icon {
    @include icon_hover(32px, invert(0), invert(1));
    opacity: 0.2;
  }
  .footer__social {
    @include flex(row, space-around, center);
    width: 100%;
    @include mobile {
      @include flex(column, center, center);
    }
    .foot__copyright {
      font-size: 0.7em;
      letter-spacing: -0.5px;
      font-weight: 700;
      color: $gray__dark;
    }
  }
}

@keyframes mobile-navigation-enter {
  0% { transform: translateX(-200%); opacity: 0;};
  30% { transform: translateX(50%); };
  60% { transform: translateX(0%); opacity: 1; };
  80% { transform: translateX(8%); };
  100% { transform: translateX(0%); opacity: 1;};
}

@keyframes mobile-navigation-exit {
  0% { transform: translateX(0%); };
  100% { transform: translateX(-100%); };
}

@keyframes close-mobile-navigation {
  0% { transform: translateY(0%); opacity: 1;};
  100% { transform: translateY(100%); opacity: 0;};
}