@import '_mixins';
@import '_variables';
@import '_media-queries';

.list__projects {
  height: auto;
}

.projects {
  border-top: 2px solid $blue__light;
  border-bottom: 2px solid $blue__light;
  .skill-selector {
    list-style: none;
    display: inline-block; 
    padding: 0.5rem 1rem;
    margin: 6px;
    font-size: 1.1em;
    border-radius: 2px;
    cursor: pointer;
    @include nav-collapse {
      font-size: 0.9rem;
    }
  }
  .projects-listed {
    text-align: right;
    font-family: 'Fira Sans';
    letter-spacing: 1px;
    color: $gray__light;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .skill__active {
    background: $blue__light;
    color: $blue__med;
  }
  .skill__inactive {
    background: #f5f5f5;
  }
  .project {
    @include flex(row, center, center);
    margin: 2rem 0;
    box-shadow: 0px 4px 40px -14px rgba(0,0,0,0.25);
    padding: 20px;
    transform: translateX(-300%);
    @include tablet {
      @include flex(column, center, center);
      flex-direction: column-reverse;
    }
    .project__header-row {
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      padding-right: 2rem;
      @include tablet {
        padding-right: 0;
      }
    }
    .project__description {
      color: $gray;
      font-size: 1.2rem;
      max-width: 90%;
      padding-bottom: 20px;
      @include nav-collapse {
        font-size: 1.1rem;
      }
      @include tablet {
        padding-bottom: 10px;
      }
    }
    .project__img {
      width: 340px;
      border-radius: 2px;
      @include tablet {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        width: 100%;
      }
    }
    .project__tech {
      list-style: none;
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      @include nav-collapse {
        grid-template-columns: 50% 50%;
      }
      @include tablet {
        grid-template-columns: 33.33% 33.33% 33.33%;
      } 
      @include mobile {
        grid-template-columns: 50% 50%;
        justify-self: center;
      }
      li {
        justify-self: start;
        background: #f5f5f5;
        font-size: 0.9em;
        padding: 2px 8px;
        margin: 6px;
        border-radius: 5px;
      }
      @include mobile {
        justify-self: center;
      }
    }
    .project__github-link {
      @include icon_hover(32px, invert(0.75), invert(0));
    }
  }
  #loader {
    display: none;
  }
}

@for $i from 1 through 8 {
  .project-enter-#{$i} {
    animation-name: slide-in-from-left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: #{$i / 12}s;
    animation-iteration-count: 1;
  }
}

@for $i from 1 through 8 {
  .project-exit-#{$i} {
    animation-name: slide-out-to-right;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-delay: #{$i / 8}s;
    animation-iteration-count: 1;
  }
}

@keyframes slide-in-from-left {
  0% { transform: translateX(-300%) };
  100% { transform: translateX(0%) };
}
@keyframes slide-out-to-right {
  0% { transform: translateX(0%) translateY(0%) rotate(0deg); transform-origin: bottom right; opacity: 1; };
  100% { transform: translateX(0%) translateY(10%) rotate(-45deg); transform-origin: bottom right; opacity: 0; };
}