@import '_mixins';

.project {
  @include flex(row, center, center);
  margin: 1rem 0;
  box-shadow: 0px 8px 40px -24px rgba(0,0,0,0.25);
  padding: 22px;
  .project__name {
    min-width: auto;
    transition: min-width 0.25s; 
    &:hover {
      min-width: auto;
      transition: all 0.25s; 
      &:after {
        content: ' \00BB';
      }
    }
  }
  .project__description {
    color: $gray;
    font-size: 1.25rem;
  }
  .project__tech {
    list-style: none;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    li {
      justify-self: start;
      background: #f5f5f5;
      font-size: 0.9em;
      padding: 2px 8px;
      margin: 6px;
      border-radius: 5px;
    }
  }

  .project__github-link {
    @include icon_hover(32px, invert(0.75), invert(0));
  }
}