@import '_mixins';
@import '_variables';
@import '_media-queries';

.list__projects {
  height: 100%;
  // max-height: 1200px;
  transition: height 2s;
}

.projects {
  border-top: 2px solid $blue__light;
  border-bottom: 2px solid $blue__light;
  // box-shadow: 0px 8px 40px -24px rgba(0,0,0,0.25);
  .skill-selector {
    list-style: none;
    display: inline-block; 
    padding: 0.5rem 1rem;
    margin: 6px;
    font-size: 1.1em;
    border-radius: 2px;
    cursor: pointer;
    @include nav-collapse {
      font-size: 0.9rem;
    }
  }
  .skill__active {
    background: $blue__light;
    color: $blue__med;
  }
  .skill__inactive {
    background: #f5f5f5;
  }
  .project {
    @include flex(row, center, center);
    margin: 2rem 0;
    box-shadow: 0px 4px 40px -14px rgba(0,0,0,0.25);
    padding: 20px;
    @include tablet {
      @include flex(column, center, center);
      flex-direction: column-reverse;
    }
    .project__name {
      &:after {
        content: '\00BB';
        padding-left: 0px;
        transition: all 0.5s;
        transform: translateX(-50px) ;
        opacity: 0;
      }
      &:hover {
        &:after {
          padding-left: 6px;
          content: ' \00BB';
          transition: all 0.5s;
          transform: translateX(0px) ;
          opacity: 1;
        }
      }
    }
    .project__description {
      color: $gray;
      font-size: 1.2rem;
      max-width: 90%;
      padding-bottom: 20px;
      @include nav-collapse {
        font-size: 1.1rem;
      }
      @include tablet {
        padding-bottom: 10px;
      }
    }
    .project__tech {
      list-style: none;
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      @include nav-collapse {
        grid-template-columns: 50% 50%;
      }
      @include tablet {
        grid-template-columns: 33.33% 33.33% 33.33%;
        padding-bottom: 20px;
      }
      @include mobile {
        grid-template-columns: 50% 50%;
        justify-self: center;
      }
      li {
        justify-self: start;
        background: #f5f5f5;
        font-size: 0.9em;
        padding: 2px 8px;
        margin: 6px;
        border-radius: 5px;
      }
      @include mobile {
        justify-self: center;
      }
    }
    .project__github-link {
      @include icon_hover(32px, invert(0.75), invert(0));
    }
  }
}

@for $i from 1 through 4 {
  .project-enter-#{$i} {
    animation-name: slide-in-from-left;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-delay: #{$i / 12}s;
    animation-iteration-count: 1;
  }
}

@for $i from 1 through 4 {
  .project-exit-#{$i} {
    animation-name: slide-out-to-right;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-delay: #{$i / 12}s;
    animation-iteration-count: 1;
  }
}