.recommendations {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid $blue__light;
  justify-content: center;
  align-items: center;
  font-family: arial;
  #left-arrow {
    font-size: 4rem;
    color: red;
    transform: rotate(180deg);
  }
  #right-arrow {
    font-size: 4rem;
    color: red;
  }
}

.quote__layout {
  padding: 0rem;
  margin-bottom: 0rem;
  padding: 2rem;
  width: auto;
  min-height: 350px;
  margin: 0 auto;
  margin-bottom: 1rem;
  position: relative;
  .quote {
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem 1rem;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    color: $gray__light;
    font-family: 'Fira Sans';
    cursor: pointer;
    transition: all 2s;
    @include tablet {
      font-size: 2rem;
      padding: 1rem;
    }
    @include mobile {
      font-size: 1.75rem;
      padding: 1rem 0rem;
    }
  }
  .left-mark {
      display: inline-block;
      font-size: 6rem;
      color: $blue__med;
      transition: all 1s;
      @include mobile {
        font-size: 4rem;
      }
  }
  .right-mark {
      content: close-quote;
      display: inline-block;
      font-size: 6rem;
      color: $blue__med;
      transition: all 1s;
      @include mobile {
        font-size: 4rem;
      }
  }
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    @include mobile {
      flex-direction: column;
    }
    
  }
  .quote-author {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Fira Sans';
    color: $blue__med;
    text-align: right;
    @include mobile {
      text-align: center;
    }
    span {
      font-size: 1rem;
      font-weight: 100;
      color: $gray;
    }
  }
  .quote-author-photo {
    width: 240px;
    // height: 60px;
    // border-radius: 50px;
    margin-left: 1rem;
  }
}

.arrow-container {
  width: 60px;
  height: 100px;
  font-size: 6rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  cursor: pointer;
  .push-arrow {
    width: 100%;
    height: 100%;
    font-family: arial;
    margin: 0 auto;
    // transform: rotate(90deg);
    padding: 0;
  }
}

// sequential animation
@for $i from 1 through 3 {
  .arrow-#{$i} {
    animation-name: push-animation;
    animation-duration: 1s;
    // animation-fill-mode: forwards;
    animation-delay: #{$i /12}s;
    animation-iteration-count: infinite;
  }
}

  .arrow-1 {
    color: $blue__light-x;
  }
  .arrow-2 {
    color: $blue__light;
  }
  .arrow-3 {
    color: $blue__med;
  }


// .push-animation {
//   animation-name: push-animation;
//   animation-iteration-count: infinite;
//   animation-duration: 2s;
//   animation-delay: 0.5s;
// };

@keyframes push-animation {
  0% { transform: translateX(-50%); opacity: 0; };
  20% { opacity: 1; };
  80% { opacity: 1; };
  100% { transform: translateX(50%); opacity: 0; };
};