.recommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: arial;
  transition: height 0.5s;
  padding: 60px 0;
  border-top: 2px solid $blue__light-x;
  position: relative;
  // border-bottom: 2px solid $blue__light-x;
  @include tablet {
    padding: 40px 5%;
  }
}

.quote__layout {
  padding: 0rem;
  margin-bottom: 0rem;
  width: auto;
  margin: 0 auto;
  position: relative;
  .quote {
    text-align: center;
    font-size: 2.5rem;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    color: $gray__light;
    font-family: 'Fira Sans';
    cursor: pointer;
    transition: all 2s;
    @include tablet {
      font-size: 2rem;
      padding: 1rem;
    }
    @include mobile {
      font-size: 1.4rem;
      padding: 1rem 0rem;
    }
  }
  .left-mark {
      display: inline-block;
      font-size: 6rem;
      color: $blue__med;
      transition: all 1s;
      @include mobile {
        font-size: 4rem;
      }
  }
  .right-mark {
      content: close-quote;
      display: inline-block;
      font-size: 6rem;
      color: $blue__med;
      transition: all 1s;
      @include mobile {
        font-size: 4rem;
      }
  }
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include mobile {
      flex-direction: column;
    }
  }
  .quote-author {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Fira Sans';
    color: $blue__med;
    text-align: right;
    @include mobile {
      text-align: center;
    }
    span {
      font-size: 1rem;
      font-weight: 100;
      color: $gray;
    }
  }
  .quote-author-photo {
    width: 240px;
    margin-left: 1rem;
    @include mobile {
      width: 180px;
    }
  }
}

.quote__mouse-down {
  animation-name: quote__mouse-down;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 0.1s ease-in-out;
}

.quote__mouse-up {
  animation-name: quote__mouse-up;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 0.1s ease-in-out;
}

@keyframes quote__mouse-up {
  0% { transform: scale(0.8); };
  80% { transform: scale(1.1); };
  100% { transform: scale(1); };
}

@keyframes quote__mouse-down {
  0% { transform: scale(1); };
  100% { transform: scale(0.8); };
}