svg {
  width: 240px;
  position: absolute; 
  overflow: auto; 
  @include tablet {
    width: 180px;
  }
}

svg.click-through {
  bottom: -80px;
  left: 0%;
  @include nav-collapse {
    bottom: -120px;
  }
  @include tablet {
    // bottom: -150px;
  }
}

svg.listen-in {
  top: -240px;
  right: 0%;
  @include tablet {
    top: -180px;
  }
}