$blue__dark: #1b1b20;
$blue__med: #3d3d5a;
$blue__light: #d8d8ee;
$blue__light-x: #e7e7f1;
$white: #f3f3f3;
$gray: rgb(146, 146, 146);
$gray__light: rgb(209, 209, 209);

$navbg: #f3f3f3;


$about: #ececec;
$skills: #f1f1f1;
$work: #fff;
$workitem: #f1f1f1;
$resume: #e0e250;
$interests: #ececec;
$interests2: #919191;
$text: #1b1b20;
$red: #fef9a7;
// real $green: #52c284;
$green: #fef9a7;
// real $blue: #3c62e0;
$blue: #fef9a7;

$section_shadow: 2px 2px 12px -2px rgba($blue__med,0.2);
$project_shadow: 0px 0px 6px 3px rgba(61, 61, 90, 0.2), 0px 0px 12px 6px rgba(61, 61, 90, 0.1);