.work {
  padding: 5% 5%;
  border-bottom: 2px solid $blue__light-x;
}

.job-wrapper {
  margin: 1rem auto;
  padding: 1rem;
  cursor: pointer;
  // box-shadow: $project_shadow;
  // @include flex(row, space-between, flex-start);
  .job-header {
    // flex-grow: 2;
    // @include flex(row, space-between, center);
    .job-headline-wrapper {
      @include flex(row, flex-start, center);
      img {
        margin-left: 1rem;
        margin-right: 1rem;
        opacity: 0.2;
      }
    }
    width: 100%;
    .job-title {
      margin: 10px;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 1.8rem;
      transition: transform 200ms;
    }
    .job-title.hover {
      transform: translateY(-5px);
      transition: transform 200ms;
    }
    .job-details {
      margin: 0 10px 20px 10px;
      font-weight: 300;
      font-size: 1.2rem;
      // &:hover {
      //   &:after {
      //     background: $blue__light;
      //   }
      // }
      // &:before {
      //   content: '\2039';
      //   display: inline-block;
      //   width: 40px;
      //   height: 40px;
      //   background: $blue__light-x;
      //   color: white;
      //   border-radius: 50%;
      //   margin-right: 20px;
      //   text-align: center;
      //   font-size: 2.4rem;
      //   transform: rotate(-90deg);
      // }
    }
  }
  .job-description {
    display: none;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-in-out;
  }
  .job-description.is-visible {
    display: block;
    transition: all 200ms ease-in-out;
    height: auto;
    
  }
}