.work {
  padding: 5% 5%;
  padding-top: 2.5%;
  background: $blue__light;
  position: relative;
  opacity: 0;
  transform: translateY(50%);
  animation: work-section-enter 1500ms ease 0ms 1 forwards;
  scroll-margin: 45px;
  &::before {
    content: "";
    // clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 50px;
    background: $blue__light;
    position: absolute;
    bottom: 100%;
    left: 0;
  }
  .section__intro {
    .section__header {
      color: $blue__med-light;
    }
    @include tablet {
      @include flex(column, flex-start, flex-start);
      flex-direction: column-reverse;
    }
    .about__content {
      align-self: center;
    }
  }
}

.job-wrapper {
  margin: 2rem auto;
  background: $blue__lightest;
  padding: 1.6rem;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  transition: all 100ms ease-in-out;
  opacity: 0;
  transform: translateY(-20%);
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation: job-enter 500ms ease #{$i * 1.05}s 1 forwards;
    }
  }
  a.website {
    font-size: 0.8rem;
    margin-left: auto;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    color: $blue__med-light;
  }
  &:hover {
    &:not(.active) {
      background: white;
      transform: translateY(-2px);
      box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.4);
      transition: all 500ms ease-in-out;
      .cta {
        display: block;
      }
    }
  }
  &.active {
    background: white;
    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
    scroll-margin: initial;
    .job-header {
      .job-title {
        color: $gray__dark;
      }
    }
  }
  @include mobile {
    padding: 1rem;
    border-left: none;
    border-bottom: 1px solid $blue__light-x;
  }
  @include nav-collapse {
    padding-bottom: 2rem;
  }
  .about__content {
    @include tablet {
      @include flex(column, center, center);
    }
  }
  .job-header {
    @include flex(row, space-between, center);
    @include mobile {
      @include flex(column, flex-start, flex-start);
    }
    color: $blue__med;
    .job-title-lockup {
      @include nav-collapse {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
      }
      @include mobile {
        @include flex(column, flex-start, flex-start);
      }
      img {
        margin-bottom: 16px;
        width: 160px;
        @include mobile {
          width: 120px;
        }
      }
    }
    .job__tech-container {
      text-align: right;
      max-width: 340px;
      @include mobile {
        text-align: left;
        align-self: flex-start;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 100%;
      }
      .job__tech {
        display: inline-block;
        justify-self: start;
        background: $blue__light-x; 
        border: 1px solid $blue__med-light;
        color: $blue__med;
        font-weight: 200;
        font-size: 14px;
        padding: 4px 12px;
        margin: 6px;
        border-radius: 5px;
        white-space: no-wrap;
        margin-left: 0;
        &:last-child {
          margin-left: 0;
        }
      }
    }
    width: 100%;
    .job-title {
      letter-spacing: 1px;
      font-size: 2.4rem;
      color: $blue__svg;
      transition: transform 200ms;
      font-family: 'Fira Sans', sans-serif;
      @include mobile {
        font-size: 1.6rem;
      }
    }
    .job-title.hover {
      transform: translateY(-5px);
      transition: transform 200ms;
    }
  }
  .job-description {
    display: none;
    height: 0;
    overflow: hidden;
    margin-top: 10px;
    transition: all 200ms ease-in-out;
  }
  .job-description.is-visible {
    display: block;
    transition: all 200ms ease-in-out;
    height: auto;
  }
  .cta {
    display: none;
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.72rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $blue__med-light;
    transform: translateY(20px);
    opacity: 0;
    font-weight: 300;
    animation: cta-enter 300ms ease-in-out 0ms 1 forwards;
  }
  .job-details {
    margin-top: 1.4rem;
    @include flex(row, space-between, flex-end);
    @include mobile {
      @include flex(column, flex-start, flex-start);  
    }
    p {
      font-weight: 200;
      font-size: 1.2rem;
      @include mobile {
        font-size: 1.1rem;
        margin-top: 0;
      }
    }
  }
}

ul.work-bullets {
  width: 80%;
  margin: 0 auto;
  font-size: 1.05rem;
  list-style: circle;
  li {
    margin: 14px 0;
    line-height: 1.5;
    font-weight: 200;
    color: $blue__med;
    span.bold {
      font-weight: 900;
      color: $blue__med;
      font-size: 1.1rem;
    }
  }
}

@keyframes cta-enter {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes work-section-enter {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes job-enter {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  40% { opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}