* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Livvic', sans-serif;
    width: 100%;
    margin: 0 auto;
    --color: #303030;
}

/* top bar navigation layout */
.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 50%;
    margin: 50px auto;
    border-radius: 2em;
    background-color: #ffffff;
}

/* styles the navigation links */
li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 10px 50px;
}

li a:hover {
    background-color: #b59d7d;
    color: #ffffff;
}

.left {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.right {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

/* begin image and site-title container home page stylings */
.image-container {
    position: relative;
}

.nav-container {
    position: absolute;
    bottom: 50%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 80px;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
}

.name-title {
    background-color: #b59d7d;
    padding: 20px 15px 30px 15px;
    width: 600px;
    margin: 0 auto;
}

.nav-container h1 {
    font-size: 60px;
}

.nav-container h3 {
    font-size: 30px;
    letter-spacing: 0.3em;
}
/* end image and site-title container home page stylings */

/* entire site content styling */
.site-content {
    width: 100%;
    margin: 0 auto;
    background-color: #71ac93;
}

/* About section */
.about-section {
    /* background-image: url(../images/about-canvas.jpg);
    background-size: contain; */
    
    position: relative;
    height: 800px;
}

.container {
    
    width: 80%;
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
    border-radius: 2em;
    background-color: white;
}

.about-photo {
    float: left;
    margin-right: 40px;
    border-radius: 1em;
}

.section-title {
    font-size: 40px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about-content .section-title {
    float: left;
}

p {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    text-align: justify;
    line-height: 2em;
}

ul li {
    font-size: 24px;
    line-height: 2em;
    
}

/* clearfix for the break between the floated about-photo and the Skills section */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}