* {
  padding: 0;
  margin: 0;
}

.bg-image {
  background-image: url(../images/about-canvas.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
}

.bg-filter {
  background-color: #ffffff;
  opacity: .7;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  letter-spacing: -0.5px;
  margin-top: 1em;
}

body .main-container {
  height: 100vh;
  margin: auto;
  width: 90%;
}

body .main-container .navbar {
  width: 100%;
  padding: 1em 1em 0em 1em;
}

body .main-container .navbar .navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

body .main-container .navbar .site-title {
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'Staatliches', arial;
  color: #000000;
  letter-spacing: 0.1em;
}

body .main-container .navbar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .main-container .navbar .navigation a {
  outline: none;
  text-decoration: none;
}

body .main-container .navbar .navigation .nav-link {
  font-size: 1.4rem;
  color: #000000;
  text-decoration: none;
  font-weight: normal;
  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;
  cursor: pointer;
}

body .main-container .navbar .navigation .nav-link:hover {
  font-weight: bolder;
  text-shadow: 0px 5px 10px #82a18d;
}

body .main-container .content-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body .main-container .box {
  display: none;
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  position: relative;
}

body .main-container #home-img {
  -webkit-box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
  display: block;
  background-image: url("../images/about-canvas.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 800px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

body .main-container #home-img #home-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  padding: 10px;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

body .main-container #home-img #home-icons .icon-sm {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 60px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

body .main-container #home-img #home-icons .icon-sm:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

body .main-container .about .about-photo, body .main-container .skills .about-photo, body .main-container .contact .about-photo {
  width: 260px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
}

body .main-container .about h2, body .main-container .skills h2, body .main-container .contact h2 {
  font-size: 32px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

body .main-container .about p, body .main-container .skills p, body .main-container .contact p {
  word-spacing: 0.1em;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 1px;
}

body .main-container .about ul, body .main-container .skills ul, body .main-container .contact ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

body .main-container .about ul li, body .main-container .skills ul li, body .main-container .contact ul li {
  font-size: 28px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  margin: 10px 10px 10px 0px;
  letter-spacing: 1px;
}

body .main-container .about ul li span, body .main-container .skills ul li span, body .main-container .contact ul li span {
  font-size: 18px;
}

body .main-container .skills {
  width: 35%;
  margin: 0 auto;
}

body .main-container .contact label {
  display: block;
  text-align: left;
  font-size: 22px;
  margin: 10px 10px 10px 0px;
  letter-spacing: 1px;
}

body .main-container .contact input, body .main-container .contact textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 22px;
  border: 1px solid #000000;
  border-bottom: 2px solid #000000;
  background-color: #ffffff3b;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
  -webkit-box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
}

body .main-container .contact input:hover, body .main-container .contact textarea:hover {
  background-color: #ffffff7c;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

body .main-container .contact input:focus, body .main-container .contact textarea:focus {
  background-color: #ffffffbb;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

body .main-container .contact #submit-btn {
  border: none;
  border-radius: 5px;
  padding: 1em 4em;
  margin: 1em;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

body .main-container .contact #submit-btn:hover {
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

body .main-container .work li {
  list-style: none;
}

body .main-container .work li .project-img {
  list-style: none;
  height: 300px;
  margin: 32px auto;
  -webkit-box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
}

body .animation-exit {
  -webkit-animation-name: exit;
          animation-name: exit;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  position: relative;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes exit {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 50px;
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */