@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal/Tajawal-Black.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/Tajawal/Tajawal-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal/Tajawal-Black.woff2") format("woff2"), url("../fonts/Tajawal/Tajawal-Black.woff") format("woff"), url("../fonts/Tajawal/Tajawal-Black.ttf") format("truetype"), url("../fonts/Tajawal/Tajawal-Black") format("svg");
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/Fira_Sans/FiraSans-Black.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/Fira_Sans/FiraSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Fira_Sans/FiraSans-Black.woff2") format("woff2"), url("../fonts/Fira_Sans/FiraSans-Black.woff") format("woff"), url("../fonts/Fira_Sans/FiraSans-Black.ttf") format("truetype"), url("../fonts/Fira_Sans/FiraSans-Black") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Overpass';
  src: url("../fonts/Overpass/");
  /* IE9 Compat Modes */
  src: url("Overpass.eot?#iefix") format("embedded-opentype"), url("Overpass.woff2") format("woff2"), url("Overpass.woff") format("woff"), url("Overpass.ttf") format("truetype"), url("Overpass.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.section__header {
  display: inline-block;
  font-family: 'Fira Sans', arial, sans-serif;
  font-size: 2rem;
  color: #d1d1d1;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 900;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: 'Tajawal', arial, sans-serif;
  width: 950px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 952px) {
  * body {
    width: 100%;
  }
}

* body a {
  text-decoration: none;
  color: inherit;
}

* body .container {
  margin-top: 0;
}

@media screen and (max-width: 952px) {
  * body .container {
    margin-top: 4rem;
  }
}

* body section.section__body {
  color: #1b1b20;
}

@media screen and (max-width: 952px) {
  * body section.section__body {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  * body section.section__body {
    width: 500px;
  }
}

@media screen and (max-width: 576px) {
  * body section.section__body {
    width: 90%;
  }
}

* body section.section__body .section__headline {
  display: inline-block;
  padding: 4px 14px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 18px 30px;
  color: #3d3d5a;
  background: #e7e7f1;
  margin-bottom: 10px;
}

@media screen and (max-width: 952px) {
  * body section.section__body .section__headline {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 576px) {
  * body section.section__body .section__headline {
    font-size: 1rem;
  }
}

* body .section__header {
  display: inline-block;
  font-family: 'Fira Sans', arial, sans-serif;
  font-size: 2.5rem;
  color: #d1d1d1;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 900;
}

@media screen and (max-width: 952px) {
  * body .section__header {
    font-size: 2rem;
  }
}

* body .section__copy {
  font-size: 1.05rem;
  padding-bottom: 12px;
  padding-left: 1rem;
  color: #1b1b20;
  font-family: inherit;
}

@media screen and (max-width: 952px) {
  * body .section__copy {
    font-size: 1rem;
  }
}

* body img.img {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

ul.work-bullets {
  width: 80%;
  margin: 0 auto;
  font-size: 1.05rem;
  list-style: circle;
}

ul.work-bullets li {
  margin: 10px 0;
}

ul.work-bullets li span.bold {
  font-weight: 900;
  color: #3d3d5a;
  font-size: 1.1rem;
}

.push-left {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media screen and (max-width: 952px) {
  .push-left {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.push-right {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media screen and (max-width: 952px) {
  .push-right {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.push-left_hard {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media screen and (max-width: 952px) {
  .push-left_hard {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.push-right_hard {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media screen and (max-width: 952px) {
  .push-right_hard {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background: #1b1b20;
  color: #f3f3f3;
  padding: 1rem;
  -webkit-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  position: relative;
}

@media screen and (max-width: 952px) {
  nav.navbar {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

nav.navbar .nav__header {
  font-family: 'Fira Sans', arial, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  z-index: 99;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  nav.navbar .nav__header {
    font-size: 1.5rem;
  }
}

nav.navbar .foot__copyright {
  font-size: 0.9em;
  letter-spacing: -0.5px;
  font-weight: 700;
}

nav.navbar .mobile-nav__container {
  background: #1b1b20;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 952px) {
  nav.navbar .mobile-nav__container {
    margin-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    width: 100%;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    z-index: -99;
  }
}

nav.navbar .nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (max-width: 952px) {
  nav.navbar .nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 576px) {
  nav.navbar .nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

nav.navbar .nav__ul .nav__link {
  padding: 8px 12px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media screen and (max-width: 952px) {
  nav.navbar .nav__ul .nav__link {
    font-size: 1.2rem;
    padding-left: 2rem;
  }
}

nav.navbar .nav__ul .nav__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  background: #f3f3f3;
  color: #1b1b20;
}

@media screen and (max-width: 576px) {
  nav.navbar .nav__ul .nav__link:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

nav.navbar #burger {
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

@media screen and (max-width: 952px) {
  nav.navbar #burger {
    display: inline-block;
  }
}

nav.navbar #burger .line {
  width: 100%;
  height: 2px;
  background: white;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 5px;
}

nav.navbar .toggle-nav {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

body.dark-mode nav.navbar {
  background: #f3f3f3;
  color: #1b1b20;
}

footer.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1b1b20;
  color: #f3f3f3;
  padding: 1rem;
  -webkit-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  position: relative;
}

@media screen and (max-width: 952px) {
  footer.navbar {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  footer.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer.navbar .nav__header {
  font-family: 'Fira Sans', arial, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  cursor: pointer;
}

footer.navbar .nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@media screen and (max-width: 576px) {
  footer.navbar .nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

footer.navbar .nav__icon {
  margin: 0px 20px;
  width: 32px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
}

footer.navbar .nav__icon:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

footer.navbar .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.about {
  padding: 10% 5%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__content > div .section__headline {
  display: inline;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about__content .img__bio {
  max-width: 260px;
  min-width: 260px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 80% 50%;
  margin: 1rem;
}

.about__content .mobile-shape {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 80% 50%;
}

.about__content .ms-left {
  background: #d8d8ee;
  left: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  z-index: -1;
}

.about__content .ms-right {
  background: #e7e7f1;
  right: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  z-index: -1;
}

.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (max-width: 952px) {
  .nav__icons {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__icons .nav__icon {
  width: 24px;
  opacity: 0.2;
  margin: 0 10px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@media screen and (max-width: 952px) {
  .nav__icons .nav__icon {
    margin: 5px 0;
  }
}

.work {
  padding: 0% 5%;
  border-bottom: 2px solid #e7e7f1;
}

.job-wrapper {
  margin: 1rem auto;
  padding: 1rem;
}

.job-wrapper .job-header {
  width: 100%;
}

.job-wrapper .job-header .job-headline-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-wrapper .job-header .job-headline-wrapper img {
  margin-left: 1rem;
  margin-right: 1rem;
  opacity: 0.2;
}

.job-wrapper .job-header .job-title {
  margin: 10px;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.8rem;
}

.job-wrapper .job-header .job-details {
  margin: 0 10px 20px 10px;
  font-weight: 300;
  font-size: 1.2rem;
}

.job-wrapper .job-description {
  display: none;
}

.list__projects {
  height: auto;
}

.projects {
  padding: 5%;
}

.projects .skill-selector {
  list-style: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 6px;
  font-size: 1.1em;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 952px) {
  .projects .skill-selector {
    font-size: 0.9rem;
  }
}

.projects .projects-listed {
  text-align: right;
  font-family: 'Fira Sans';
  letter-spacing: 1px;
  color: #d1d1d1;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.projects .skill__active {
  background: #d8d8ee;
  color: #3d3d5a;
}

.projects .skill__inactive {
  background: #f5f5f5;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
  -webkit-box-shadow: 2px 2px 12px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 12px -4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}

@media screen and (max-width: 768px) {
  .projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
}

.projects .project .project__header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
}

@media screen and (max-width: 768px) {
  .projects .project .project__header-row {
    padding-right: 0;
  }
}

.projects .project .project__description {
  color: #929292;
  font-size: 1.2rem;
  max-width: 90%;
  padding-bottom: 20px;
}

@media screen and (max-width: 952px) {
  .projects .project .project__description {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .projects .project .project__description {
    padding-bottom: 10px;
  }
}

.projects .project .project__img {
  width: 340px;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .projects .project .project__img {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

.projects .project .project__tech {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
}

@media screen and (max-width: 952px) {
  .projects .project .project__tech {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 768px) {
  .projects .project .project__tech {
    -ms-grid-columns: 33.33% 33.33% 33.33%;
        grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

@media screen and (max-width: 576px) {
  .projects .project .project__tech {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.projects .project .project__tech li {
  -ms-grid-column-align: start;
      justify-self: start;
  background: #f5f5f5;
  font-size: 0.9em;
  padding: 2px 8px;
  margin: 6px;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .projects .project .project__tech {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.projects .project .project__github-link {
  margin: 0px 20px;
  width: 32px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-filter: invert(0.75);
          filter: invert(0.75);
}

.projects .project .project__github-link:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-filter: invert(0);
          filter: invert(0);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.projects #loader {
  display: none;
}

.project-enter-1 {
  -webkit-animation: slide-in-from-left 0.5s linear 0.08333s 1 forwards;
          animation: slide-in-from-left 0.5s linear 0.08333s 1 forwards;
}

.project-enter-2 {
  -webkit-animation: slide-in-from-left 0.5s linear 0.16667s 1 forwards;
          animation: slide-in-from-left 0.5s linear 0.16667s 1 forwards;
}

.project-enter-3 {
  -webkit-animation: slide-in-from-left 0.5s linear 0.25s 1 forwards;
          animation: slide-in-from-left 0.5s linear 0.25s 1 forwards;
}

.project-enter-4 {
  -webkit-animation: slide-in-from-left 0.5s linear 0.33333s 1 forwards;
          animation: slide-in-from-left 0.5s linear 0.33333s 1 forwards;
}

.project-enter-5 {
  -webkit-animation: slide-in-from-left 0.5s linear 0.41667s 1 forwards;
          animation: slide-in-from-left 0.5s linear 0.41667s 1 forwards;
}

.project-enter-6 {
  -webkit-animation: slide-in-from-left 0.5s linear 0.5s 1 forwards;
          animation: slide-in-from-left 0.5s linear 0.5s 1 forwards;
}

.project-enter-7 {
  -webkit-animation: slide-in-from-left 0.5s linear 0.58333s 1 forwards;
          animation: slide-in-from-left 0.5s linear 0.58333s 1 forwards;
}

.project-enter-8 {
  -webkit-animation: slide-in-from-left 0.5s linear 0.66667s 1 forwards;
          animation: slide-in-from-left 0.5s linear 0.66667s 1 forwards;
}

.project-exit-1 {
  -webkit-animation: slide-out-to-right 0.5s linear 0.125s 1 backwards;
          animation: slide-out-to-right 0.5s linear 0.125s 1 backwards;
}

.project-exit-2 {
  -webkit-animation: slide-out-to-right 0.5s linear 0.25s 1 backwards;
          animation: slide-out-to-right 0.5s linear 0.25s 1 backwards;
}

.project-exit-3 {
  -webkit-animation: slide-out-to-right 0.5s linear 0.375s 1 backwards;
          animation: slide-out-to-right 0.5s linear 0.375s 1 backwards;
}

.project-exit-4 {
  -webkit-animation: slide-out-to-right 0.5s linear 0.5s 1 backwards;
          animation: slide-out-to-right 0.5s linear 0.5s 1 backwards;
}

.project-exit-5 {
  -webkit-animation: slide-out-to-right 0.5s linear 0.625s 1 backwards;
          animation: slide-out-to-right 0.5s linear 0.625s 1 backwards;
}

.project-exit-6 {
  -webkit-animation: slide-out-to-right 0.5s linear 0.75s 1 backwards;
          animation: slide-out-to-right 0.5s linear 0.75s 1 backwards;
}

.project-exit-7 {
  -webkit-animation: slide-out-to-right 0.5s linear 0.875s 1 backwards;
          animation: slide-out-to-right 0.5s linear 0.875s 1 backwards;
}

.project-exit-8 {
  -webkit-animation: slide-out-to-right 0.5s linear 1s 1 backwards;
          animation: slide-out-to-right 0.5s linear 1s 1 backwards;
}

@-webkit-keyframes slide-in-from-left {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-in-from-left {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slide-out-to-right {
  0% {
    -webkit-transform: translateX(0%) translateY(0%) rotate(0deg);
            transform: translateX(0%) translateY(0%) rotate(0deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%) translateY(10%) rotate(-45deg);
            transform: translateX(0%) translateY(10%) rotate(-45deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    opacity: 0;
  }
}

@keyframes slide-out-to-right {
  0% {
    -webkit-transform: translateX(0%) translateY(0%) rotate(0deg);
            transform: translateX(0%) translateY(0%) rotate(0deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%) translateY(10%) rotate(-45deg);
            transform: translateX(0%) translateY(10%) rotate(-45deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    opacity: 0;
  }
}

.bandcamp {
  margin: 4rem;
  padding: 15% 5%;
  border-radius: 40% 60%;
  background: #d8d8ee;
  -webkit-box-shadow: 34px 4px 0px 20px #e7e7f1;
          box-shadow: 34px 4px 0px 20px #e7e7f1;
  -webkit-animation: bandcamp2 3s ease-in-out 0s infinite forwards;
          animation: bandcamp2 3s ease-in-out 0s infinite forwards;
  z-index: -1;
}

@media screen and (max-width: 952px) {
  .bandcamp {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 952px) {
  .bandcamp .section__header {
    padding-left: 5%;
  }
}

.album-carousel {
  position: relative;
  overflow: visible;
  margin: auto;
}

.album-carousel .album-slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  overflow: visible;
}

@media screen and (max-width: 576px) {
  .album-carousel .album-slide {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.album-carousel .album-slide .album-cover {
  width: 100%;
  padding: 5px;
  -webkit-transition: -webkit-filter 1s ease-out;
  transition: -webkit-filter 1s ease-out;
  transition: filter 1s ease-out;
  transition: filter 1s ease-out, -webkit-filter 1s ease-out;
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.album-carousel .album-slide .album-cover:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media screen and (max-width: 576px) {
  .album-carousel .album-slide .album-cover {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.album-arrow {
  font-size: 3rem;
  color: #d8d8ee;
  z-index: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@-webkit-keyframes bandcamp {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(2deg);
            transform: translate(0px, 0px) rotate(2deg);
    -webkit-box-shadow: 10px 10px 0px 20px #e7e7f1;
            box-shadow: 10px 10px 0px 20px #e7e7f1;
  }
  50% {
    -webkit-transform: translate(-40px, 20px) rotate(-2deg);
            transform: translate(-40px, 20px) rotate(-2deg);
    -webkit-box-shadow: -10px -10px 0px 20px #e7e7f1;
            box-shadow: -10px -10px 0px 20px #e7e7f1;
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(2deg);
            transform: translate(0px, 0px) rotate(2deg);
    -webkit-box-shadow: 10px 10px 0px 20px #e7e7f1;
            box-shadow: 10px 10px 0px 20px #e7e7f1;
  }
}

@keyframes bandcamp {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(2deg);
            transform: translate(0px, 0px) rotate(2deg);
    -webkit-box-shadow: 10px 10px 0px 20px #e7e7f1;
            box-shadow: 10px 10px 0px 20px #e7e7f1;
  }
  50% {
    -webkit-transform: translate(-40px, 20px) rotate(-2deg);
            transform: translate(-40px, 20px) rotate(-2deg);
    -webkit-box-shadow: -10px -10px 0px 20px #e7e7f1;
            box-shadow: -10px -10px 0px 20px #e7e7f1;
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(2deg);
            transform: translate(0px, 0px) rotate(2deg);
    -webkit-box-shadow: 10px 10px 0px 20px #e7e7f1;
            box-shadow: 10px 10px 0px 20px #e7e7f1;
  }
}

@-webkit-keyframes bandcamp2 {
  0% {
    border-radius: 40% 60%;
    -webkit-box-shadow: 10px 10px 0px 20px #e7e7f1;
            box-shadow: 10px 10px 0px 20px #e7e7f1;
  }
  50% {
    border-radius: 60% 40%;
    -webkit-box-shadow: -20px -20px 0px 20px #e7e7f1;
            box-shadow: -20px -20px 0px 20px #e7e7f1;
  }
  100% {
    border-radius: 40% 60%;
    -webkit-box-shadow: 10px 10px 0px 20px #e7e7f1;
            box-shadow: 10px 10px 0px 20px #e7e7f1;
  }
}

@keyframes bandcamp2 {
  0% {
    border-radius: 40% 60%;
    -webkit-box-shadow: 10px 10px 0px 20px #e7e7f1;
            box-shadow: 10px 10px 0px 20px #e7e7f1;
  }
  50% {
    border-radius: 60% 40%;
    -webkit-box-shadow: -20px -20px 0px 20px #e7e7f1;
            box-shadow: -20px -20px 0px 20px #e7e7f1;
  }
  100% {
    border-radius: 40% 60%;
    -webkit-box-shadow: 10px 10px 0px 20px #e7e7f1;
            box-shadow: 10px 10px 0px 20px #e7e7f1;
  }
}

.recommendations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: arial;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  padding: 60px 0;
  border-top: 2px solid #e7e7f1;
}

@media screen and (max-width: 768px) {
  .recommendations {
    padding: 40px 5%;
  }
}

.quote__layout {
  padding: 0rem;
  margin-bottom: 0rem;
  width: auto;
  margin: 0 auto;
  position: relative;
}

.quote__layout .quote {
  text-align: center;
  font-size: 2.5rem;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  color: #d1d1d1;
  font-family: 'Fira Sans';
  cursor: pointer;
  -webkit-transition: all 2s;
  transition: all 2s;
}

@media screen and (max-width: 768px) {
  .quote__layout .quote {
    font-size: 2rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .quote__layout .quote {
    font-size: 1.4rem;
    padding: 1rem 0rem;
  }
}

.quote__layout .left-mark {
  display: inline-block;
  font-size: 6rem;
  color: #3d3d5a;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 576px) {
  .quote__layout .left-mark {
    font-size: 4rem;
  }
}

.quote__layout .right-mark {
  content: close-quote;
  display: inline-block;
  font-size: 6rem;
  color: #3d3d5a;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 576px) {
  .quote__layout .right-mark {
    font-size: 4rem;
  }
}

.quote__layout div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 576px) {
  .quote__layout div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.quote__layout .quote-author {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'Fira Sans';
  color: #3d3d5a;
  text-align: right;
}

@media screen and (max-width: 576px) {
  .quote__layout .quote-author {
    text-align: center;
  }
}

.quote__layout .quote-author span {
  font-size: 1rem;
  font-weight: 100;
  color: #929292;
}

.quote__layout .quote-author-photo {
  width: 240px;
  margin-left: 1rem;
}

@media screen and (max-width: 576px) {
  .quote__layout .quote-author-photo {
    width: 180px;
  }
}

.quote__mouse-down {
  -webkit-animation-name: quote__mouse-down;
          animation-name: quote__mouse-down;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.quote__mouse-up {
  -webkit-animation-name: quote__mouse-up;
          animation-name: quote__mouse-up;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@-webkit-keyframes quote__mouse-up {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes quote__mouse-up {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes quote__mouse-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes quote__mouse-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(61, 61, 90, 0.8);
  -webkit-box-shadow: inset 0px 0px 100px 32px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 100px 32px rgba(0, 0, 0, 0.25);
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-content > iframe {
  display: block;
  -webkit-box-shadow: 0px 0px 50px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 50px 24px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

#modal-btn {
  position: fixed;
  bottom: 0;
  right: 8%;
  padding: 16px 20px 32px 20px;
  background: #3d3d5a;
  letter-spacing: 1px;
  width: 80px;
  font-size: 1.5rem;
  border-radius: 32px 32px 0px 0px;
  text-align: center;
  font-weight: 800;
  color: #f3f3f3;
  cursor: pointer;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

#modal-btn:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.modal-open {
  -webkit-animation-name: modal-open;
          animation-name: modal-open;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.modal-close {
  -webkit-animation-name: modal-close;
          animation-name: modal-close;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes modal-open {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes modal-open {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes modal-close {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

@keyframes modal-close {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

#loader {
  display: block;
  position: absolute;
  border: 6px solid #e7e7f1;
  border-top: 6px solid #3d3d5a;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  -webkit-animation: spin 0.58s linear infinite;
          animation: spin 0.58s linear infinite;
  z-index: 2;
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 40%;
  right: 40%;
}

@media screen and (max-width: 768px) {
  #loader {
    width: 100px;
    height: 100px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.form-wrapper {
  padding: 5%;
}

form {
  width: 80%;
  margin: 0 auto;
}

form button[type=submit] {
  margin: 10px 10px 10px auto;
  border: none;
  padding: 0.4rem 1rem;
  font-family: inherit;
  background: #3d3d5a;
  color: #f3f3f3;
  font-size: 16px;
  z-index: 1;
  opacity: 0.4;
  cursor: default;
}

@media screen and (max-width: 576px) {
  form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  background: #e7e7f1;
  position: relative;
  margin-top: 2.4rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.input-container:first-child {
  border-right: 2px solid #d8d8ee;
}

.input-container label.form-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #1b1b20;
  font-weight: 100;
  font-size: 16px;
  padding: 0.4rem 0.8rem;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: text;
}

.input-container label.form-label__focus {
  -webkit-transform: translate(-5px, -32px);
          transform: translate(-5px, -32px);
  color: #3d3d5a;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.input-container input.form-field,
.input-container textarea.form-field {
  padding: 0.4rem 0.8rem;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-size: 18px;
  font-family: inherit;
  letter-spacing: 1px;
  outline: none;
  resize: none;
}

@media screen and (max-width: 576px) {
  .input-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.input-container__hover {
  background: #f3f3f3;
  margin-top: 40px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/*# sourceMappingURL=style2.css.map */