* {
    padding: 0;
    margin: 0;
    /* border: 1px solid green; */
}

body {
    font-family: 'Raleway', sans-serif;
}

.home-container {
    margin: 50px 50px;
    background-image: url(../images/about-canvas.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
}

.navbar {
    padding: 40px;
}

.site-title {
    float: left;
    color: #000000;
    letter-spacing: 0.2em;
}

.site-title h1 {
    font-size: 80px;
    background-color: rgb(255, 255, 255, 0.7);
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
}

.site-title h3 {
    font-size: 28px;
    background-color: rgb(255, 255, 255, 0.7);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: right;
}

.navigation li a {
    font-size: 40px;
    color: #ffffff;
    text-decoration: none;
}

/*  # Begin about section
    #
    #
*/

.about-container {
    width: 60%;
    margin: 50px auto;
}

.about-container h2 {
    float: left;
    font-size: 38px;
    border-bottom: 1px solid #000000;
    margin-right: 30px;
}

.about-container p {
    word-spacing: 0.1em;
    line-height: 1.5em;
    font-size: 24px;
    text-align: justify;
}

/*  # Begin work section
    #
    #
*/

.work-container {
    margin: 50px 50px;
    background-image: url(../images/test1.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    background-attachment: fixed;
}

@media screen and (max-width: 1000px) {
    .site-title {
        float: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: #000000;
        letter-spacing: 0.2em;
    }
    
    .clearfix::after{
        content: '';
        display: block;
        clear: both;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .site-title h1 {
        font-size: 60px;
        padding: 0px;
    }

    .site-title h3 {
        font-size: 20px;
    }

    .navigation li a {
        font-size: 24px;
    }
}

@media screen and (max-width: 400px) {
    .site-title h1 {
        font-size: 30px;
    }

    .site-title h3 {
        font-size: 14px;
    }

    .navigation li a {
        font-size: 12px;
    }
}