* {
  padding: 0;
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #1b1b20;
  letter-spacing: -0.5px;
}

body a {
  text-decoration: none;
  color: inherit;
}

body .header {
  padding-bottom: 10px;
}

body .text {
  font-size: 20px;
  line-height: 1.5em;
  margin-top: 20px;
}

body .arrow {
  font-size: 1em;
  position: relative;
}

body .arrow1 {
  -webkit-animation: arrow 1s ease-in-out 0.1s infinite forwards;
          animation: arrow 1s ease-in-out 0.1s infinite forwards;
}

body .arrow2 {
  -webkit-animation: arrow 1s ease-in-out 0.2s infinite forwards;
          animation: arrow 1s ease-in-out 0.2s infinite forwards;
}

body .arrow3 {
  -webkit-animation: arrow 1s ease-in-out 0.3s infinite forwards;
          animation: arrow 1s ease-in-out 0.3s infinite forwards;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  padding: 10px 20px;
  background-color: #1b1b20;
  color: #f3f3f3;
  font-size: 18px;
  position: relative;
}

.navbar .navbar-content {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-content #home {
  font-size: 5em;
  font-weight: 900;
  padding: 20px;
  margin-bottom: 32px;
}

.navbar .navbar-content .navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .navbar-content .navigation .link {
  font-size: 2em;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .navbar-content .navigation .about-link:hover {
  color: #fef9a7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .navbar-content .navigation .work-link:hover {
  color: #fef9a7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .navbar-content .navigation .interests-link:hover {
  color: #fef9a7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .navbar-content .navigation .resume-link:hover {
  color: #fef9a7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar #home-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.navbar #home-icons .icon-sm {
  margin: 0px 10px;
  width: 40px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-filter: invert(0.25);
          filter: invert(0.25);
}

.navbar #home-icons .icon-sm:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  font-size: 36px;
  width: 90%;
  margin: 0em auto;
  padding: 2em;
  color: #f3f3f3;
  border-top: 1px solid #fef9a7;
  border-right: 1px solid #fef9a7;
  border-bottom: 1px solid #fef9a7;
  -webkit-box-shadow: 20px 10px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 20px 10px 24px -12px rgba(0, 0, 0, 0.75);
}

.about img {
  width: 50%;
  border-radius: 2px;
  border: 1px solid #fef9a7;
  -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.75);
}

.about .summary {
  height: auto;
  background: #1b1b20;
  font-size: 1em;
  width: 65%;
  padding-right: 1.5em;
  padding-left: 2em;
  padding-bottom: 1.5em;
}

.about .summary h2 {
  border-bottom: 2px solid #fef9a7;
}

.about .summary .headline {
  font-size: 30px;
  font-weight: bold;
}

.skills {
  font-size: 36px;
  width: 90%;
  margin: 0em auto 2em auto;
  padding: 2em 2em 2em 2em;
  background: #1b1b20;
  color: #f3f3f3;
  text-align: left;
  border-bottom: none;
  border-left: 1px solid #fef9a7;
  border-bottom: 1px solid #fef9a7;
  -webkit-box-shadow: -20px 12px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: -20px 12px 24px -12px rgba(0, 0, 0, 0.75);
}

.skills h2 {
  border-bottom: 2px solid #fef9a7;
  margin-bottom: 20px;
}

.skills .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  list-style-type: none;
}

.skills .list .item {
  margin: 20px;
  font-size: 0.7em;
  text-align: center;
}

.skills .list .item span {
  font-size: 0.8em;
}

.work {
  width: 90%;
  margin: 2em auto;
  font-size: 36px;
  background: #1b1b20;
  color: #f3f3f3;
  padding: 2em;
}

.work h2 {
  border-bottom: 3px solid #fef9a7;
  margin-bottom: 0.5em;
}

.work .project-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.work .project-list .project-item {
  padding: 1em;
  margin: 0.5em;
  position: relative;
  -webkit-box-shadow: 6px 6px 12px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 6px 12px -4px rgba(0, 0, 0, 0.75);
  border-right: 1px solid #fef9a7;
  border-bottom: 1px solid #fef9a7;
}

.work .project-list .project-item .title {
  font-size: 1em;
}

.work .project-list .project-item .text {
  font-size: 0.5em;
}

.work .project-list .project-item .arrow {
  color: #fef9a7;
}

.work .project-list .project-item .view {
  position: absolute;
  top: 10px;
  right: 0;
  color: #f3f3f3;
  font-size: 22px;
  padding: 5px 8px;
  margin-right: 1em;
  margin-top: 1em;
  border-right: 1px solid #fef9a7;
  border-bottom: 1px solid #fef9a7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.work .project-list .project-item .view:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.work .project-list .project-item .view:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.bandcamp {
  color: #f3f3f3;
  font-size: 40px;
  padding: 1em;
  width: 90%;
  margin: 0 auto;
}

.bandcamp p {
  font-size: 18px;
  margin: 10px 0px;
}

.bandcamp .cta {
  display: inline-block;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-origin: left;
          transform-origin: left;
  cursor: pointer;
}

.bandcamp .cta .arrow {
  color: #fef9a7;
}

.about-image {
  height: 800px;
  background-image: url("../images/about2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hobby-image {
  height: 800px;
  width: 100%;
  background-image: url("../images/music.jpg");
  background-size: cover;
  background-position: center;
  border-top: 1px solid #fef9a7;
  border-bottom: 1px solid #fef9a7;
  -webkit-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1200px) {
  .navbar .navbar-content #home {
    font-size: 4em;
  }
  .navbar .navbar-content .navigation .link {
    font-size: 1.5em;
  }
  .about .summary {
    width: 60%;
  }
  .about .summary .text {
    font-size: 20px;
  }
  .work .project-list .project-item h3 {
    font-size: 0.8em;
  }
  .work .project-list .project-item .text {
    font-size: 18px;
  }
  .work .project-list .project-item .view {
    font-size: 18px;
  }
}

@media (max-width: 970px) {
  .navbar .navbar-content #home {
    font-size: 4em;
    text-align: center;
    line-height: normal;
  }
  .navbar .navbar-content .navigation .link {
    font-size: 1.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0em;
  }
  .about img {
    margin: 1em auto;
  }
  .about .header {
    font-size: 1em;
  }
  .about .summary {
    width: 100%;
  }
  .skills {
    padding: 1.5em;
  }
  .skills .header {
    font-size: 1em;
  }
  .skills .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .skills .list .item {
    font-size: 0.6em;
  }
  .skills .list .item span {
    margin-left: 0em;
  }
  .about-image {
    height: 500px;
  }
  .work .header {
    font-size: 1em;
  }
  .work .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .work .project-list .project-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .work .project-list .project-item .title {
    font-size: 0.8em;
  }
  .work .project-list .project-item .text {
    font-size: 0.5em;
  }
  .hobby-image {
    height: 500px;
  }
  .bandcamp {
    font-size: 32px;
    padding: 1.5em;
  }
}

@media (max-width: 580px) {
  .navbar .navbar-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
  }
  .navbar .navbar-content #home {
    font-size: 3.8em;
    text-align: left;
    margin-bottom: 0;
  }
  .navbar .navbar-content .navigation {
    width: 90%;
  }
  .navbar .navbar-content .navigation .link {
    font-size: 1.5em;
  }
  .navbar .navbar-content .navigation .about-link {
    -webkit-transform: none;
            transform: none;
  }
  .navbar .navbar-content .navigation .work-link {
    -webkit-transform: none;
            transform: none;
  }
  .navbar .navbar-content .navigation .interests-link {
    -webkit-transform: none;
            transform: none;
  }
  .navbar .navbar-content .navigation .resume-link {
    -webkit-transform: none;
            transform: none;
  }
  .navbar #home-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 32px;
  }
  .about .header {
    font-size: 0.8em;
  }
  .about .summary {
    padding: 1em;
  }
  .about .summary .text {
    font-size: 0.5em;
  }
  .skills {
    padding: 2em;
    font-size: 1.5em;
  }
  .skills .header {
    font-size: 1em;
  }
  .skills .list {
    margin: 0px;
  }
  .skills .list .item > span {
    display: block;
  }
  .work {
    padding: 1em;
  }
  .work .header {
    font-size: 0.8em;
  }
  .work .project-list .project-item {
    width: 100%;
  }
  .work .project-list .project-item .title {
    font-weight: bold;
    font-size: 0.6em;
  }
  .work .project-list .project-item .text {
    font-size: 0.4em;
  }
  .work .project-list .project-item .view {
    font-size: 0.4em;
  }
  .bandcamp {
    font-size: 1.5em;
    padding: 0.8em;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    left: 10px;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    left: 10px;
  }
}

@-webkit-keyframes hoverproject {
  0% {
    left: 0;
  }
  100% {
    left: 10px;
  }
}

@keyframes hoverproject {
  0% {
    left: 0;
  }
  100% {
    left: 10px;
  }
}
/*# sourceMappingURL=style2.css.map */