@import '_typography';
@import '_mixins';
@import '_variables';
@import '_media-queries';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  body {
    font-family: 'Tajawal', arial, sans-serif;
    width: 950px;
    margin: 0 auto;
    position: relative;
    @include nav-collapse {
      width: 100%;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    .container {
      margin-top: 0;
      @include nav-collapse {
        margin-top: 4rem;
      }
    }
    section.section__body {
      color: $text;
      // padding: 5%;
      // border-bottom: 2px solid $blue__light-x;
      @include nav-collapse {
        margin: 0 auto;
      }
      @include tablet {
        width: 500px;
      }
      @include mobile {
        width: 90%;
      }
      .section__headline {
        display: inline-block;
        padding: 4px 14px;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 18px 30px;
        color: $blue__med;
        background: $blue__light-x;
        margin-bottom: 10px;
        @include nav-collapse {
          font-size: 1.1rem;
        }
        @include mobile {
          font-size: 1rem;
        }
      }
    }
    .section__header {
      display: inline-block;
      font-family: 'Fira Sans', arial, sans-serif;
      font-size: 2.5rem;
      color: $gray__light;
      margin-bottom: 10px;
      letter-spacing: 1px;
      font-weight: 900;
      @include nav-collapse {
        font-size: 2rem;
      }
    }
    .section__copy {
      font-size: 1.05rem;
      padding-bottom: 12px;
      padding-left: 1rem;
      color: $text;
      font-family: inherit;
      @include nav-collapse {
        font-size: 1rem;
      }
    }
    img.img {
      box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
    }
  }
}

ul.work-bullets {
  width: 80%;
  margin: 0 auto;
  font-size: 1.05rem;
  list-style: circle;
  li {
    margin: 10px 0;
    span.bold {
      font-weight: 900;
      color: $blue__med;
      font-size: 1.1rem;
    }
  }
}

.push-left {
  transform: translateX(-6px);
  transition: transform 0.25s ease-in-out;
  @include nav-collapse {
    transform: translateX(0px);
  }
}
.push-right {
  transform: translateX(6px);
  transition: transform 0.25s ease-in-out;
  @include nav-collapse {
    transform: translateX(0px);
  }
}

.push-left_hard {
  transform: translateX(-30px);
  transition: transform 0.25s ease-in-out;
  @include nav-collapse {
    transform: translateX(0px);
  }
}
.push-right_hard {
  transform: translateX(30px);
  transition: transform 0.25s ease-in-out;
  @include nav-collapse {
    transform: translateX(0px);
  }
}

@import '_navbar';
@import '_about';
@import '_work';
@import '_projects';
@import '_albums';
@import '_recommendations';
@import '_modal';
@import '_loader';
@import './input';